
<mat-card>
  <mat-card-title>Import Document</mat-card-title>
  <mat-card-content>
<form [formGroup]="documentForm"  >

  <span >
    <div>

      <td-file-upload #singleFileUpload (select)="selectEvent($event)" (cancel)="cancelEvent()" [formControl]="documentForm.controls['fileName']" formControlName="fileName"  required>
        <mat-icon>file_upload</mat-icon><span>{{ singleFileUpload.value?.name }}</span>
        <ng-template td-file-input-label>
          <mat-icon>attach_file</mat-icon>
          <span>
            Choose a file...
            <span [hidden]="!singleFileUpload?.required">*</span>
          </span>
        </ng-template>
      </td-file-upload>

    </div>
      <span *ngIf="notFhir">


         <div *ngIf="eprService.patient == undefined" >
           <span *ngIf="document != undefined && document.patients == undefined">
              <app-patient-search (patientSelected)="closePat($event)"></app-patient-search>
           </span>
             <span *ngIf="document != undefined && document.patients != undefined">
                <app-patient [patients]="document.patients"></app-patient>
            </span>
           <br>
           <br>
        </div>
          <div>
             <span *ngIf="document != undefined && document.practitioners == undefined">
          <app-practitioner-search (practitionerSelected)="closePrac($event)"></app-practitioner-search>
             </span>
          <span *ngIf="document != undefined && document.practitioners != undefined">

            <!-- <input class="form-control" type="text" id="author" name="author" [formControl]="documentForm.controls['author']" [(ngModel)]="document.practitionerName" > -->
            <app-practitioner [practitioners]="document.practitioners"></app-practitioner>
          </span>
          <br>
          <br>
        </div>
        <div>
                   <span *ngIf="document != undefined && document.organisations == undefined">
          <app-organisation-search (organisationSelected)="closeOrg($event)"> </app-organisation-search>
                   </span>
         <span *ngIf="document != undefined && document.organisations != undefined">
             <app-organisation [organisations]="document.organisations"></app-organisation>
          </span>
          <br>
          <br>
        </div>

        <div>

            <mat-form-field class="input-half-width">
              <input #docCreated class="input-lg" matInput [matDatepicker]="picker" placeholder="Document Creation Date" id="docdate" name="docdate" max="2030-12-31"
                     min="1900-01-01" [formControl]="documentForm.controls['created']" [(ngModel)]="document.docDate" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
            </mat-form-field>
        </div>
        <div>
        <mat-form-field class="input-half-width">

            <mat-select name="type" placeholder="Document Type" id="type" [formControl]="documentForm.controls['type']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.type" >
                <mat-option *ngFor="let docType of documentType.compose.include[0].concept" [value]="docType.code">
                {{ docType.display}}
              </mat-option>
            </mat-select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-half-width">
            <mat-select name="speciality" placeholder="Speciality" id="speciality"  [formControl]="documentForm.controls['speciality']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.speciality">
              <mat-option *ngFor="let docSpec of practiceSettings.compose.include[0].concept" [value]="docSpec.code">
                {{ docSpec.display}}
              </mat-option>

            </mat-select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </mat-form-field>
          </div>
        <div>
           <mat-form-field class="input-half-width">

              <mat-select name="service" placeholder="Service" id="service"  [formControl]="documentForm.controls['service']" (ngModelChange)="specialityChanged($event)" [(ngModel)]="document.service">
                <mat-option *ngFor="let docService of facilityCodes.compose.include[0].concept" [value]="docService.code">
                  {{ docService.display}}
                </mat-option>
              </mat-select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
           </mat-form-field>
          </div>
      </span>
    </span>

  <br>
  <button mat-raised-button type="submit" (click)="onSubmitClick()" color="primary" >Submit</button>

</form>
  </mat-card-content>
</mat-card>
<span *ngIf="progressBar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
