<mat-menu #appMenu="matMenu">
  <a mat-menu-item href="https://developer.nhs.uk/transfer-care-specification-versions/" target="_blank">Transfer of Care specifications</a>
    <a mat-menu-item href="https://developer.nhs.uk/itk3-test-harness/" target="_blank">ITK3 Test Harness</a>
</mat-menu>
<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'" [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'" >
  <td-navigation-drawer flex [sidenavTitle]="name" >
    <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
      <span *ngFor="let item of btnRoutes">
          <a mat-list-item tdLayoutToggle [routerLink]="item.href"><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </span>
        <a *ngIf="patient != undefined" mat-list-item tdLayoutToggle routerLink="documents"><mat-icon matListIcon>notes</mat-icon>Documents</a>
      <span *ngFor="let item of routes">
         <a mat-list-item [routerLink]="item.route"><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </span>
    </mat-nav-list>

  </td-navigation-drawer>



  <!-- Navigation Route / -->

  <td-layout-nav navigationRoute="/">

      <div td-toolbar-content layout="row" layout-align="start center" flex>

          <span>{{name}}</span>
          <span flex></span>

          <button mat-icon-button matTooltip="Related Sites" [matMenuTriggerFor]="appMenu"><mat-icon>device_hub</mat-icon></button>


      </div>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

                <!--  Patient Banner -->

                <span *ngIf="patient != undefined">
                     <mat-toolbar>
                     <div layout="row" layout-align="start center" flex>
                        <span> &nbsp;  <b>{{ getLastName(eprService.patient)}}</b>{{getFirstName(eprService.patient)}}</span>
                        <span flex ></span>

                           &nbsp; <i>DOB:</i><b>&nbsp;{{eprService.patient.birthDate | date: 'dd-MMM-yyyy'}}</b>

                        <span flex></span>
                        <span>
                           &nbsp;<i>Gender:</i><b>&nbsp; {{ eprService.patient.gender }}</b>
                        </span>
                        <span flex></span>

                           &nbsp;<i>NHS No:</i><b>&nbsp;{{ getNHSIdentifier(eprService.patient) }}</b>

                     </div>

                     </mat-toolbar>

                </span>







        <router-outlet></router-outlet>

      <td-layout-footer>
          <div layout="row" layout-align="start center">
              <span class="mat-caption">v4.2.0 Copyright &copy; 2020 NHS Digital. All rights reserved</span>
          </div>
      </td-layout-footer>
  </td-layout-nav>
</td-layout>
