<mat-card>
    <mat-card-header layout="row" layout-align="space-between center" flex>
            <mat-card-title>
                {{section.title}}
            </mat-card-title>
        <button mat-icon-button color="accent"  matTooltip="View Section" (click)="select(section)"><mat-icon>code</mat-icon></button>
    </mat-card-header>
  <mat-card-content>
    <span *ngIf="section.entry != undefined">
        <td-expansion-panel label="Structured Content" style="background-color: aliceblue">

                <div *ngIf="section.entry != undefined">
                  <!-- References {{section.entry.length}} entries -->


                  <span *ngIf="allergies.length>0">
                      <td-message label="Allergies"  icon=""></td-message>
                      <app-allergy-intolerance [allergies]="allergies" (allergy)="onResoureSelected($event)"></app-allergy-intolerance>
                  </span>
                  <span *ngIf="conditions.length>0">
                      <td-message label="Conditions"  icon=""></td-message>
                      <app-condition [conditions]="conditions" [useBundle]="true" (condition)="onResoureSelected($event)"></app-condition>
                  </span>
                    <span *ngIf="consents.length>0">
                      <td-message label="Consent"  icon=""></td-message>
                      <app-consent [consents]="consents" [useBundle]="true" (consent)="onResoureSelected($event)"></app-consent>
                  </span>
                    <span *ngIf="carePlans.length>0">
                      <td-message label="Care Plans"  icon=""></td-message>
                      <app-care-plan [carePlans]="carePlans" [useBundle]="true" (carePlan)="onResoureSelected($event)"></app-care-plan>
                  </span>
                    <span *ngIf="impressions.length>0">
                      <td-message label="Clinical Impressions"  icon=""></td-message>
                      <app-clinical-impression [clinicalImpressions]="impressions" [useBundle]="true" (clinicalImpressions)="onResoureSelected($event)"></app-clinical-impression>
                  </span>
                  <span *ngIf="patients.length>0">
                      <td-message label="Patient"  icon=""></td-message>
                      <app-patient [patients]="patients" (patient)="onResoureSelected($event)"></app-patient>
                  </span>
                  <span *ngIf="practitioners.length>0">
                      <td-message label="Practitioner"  icon=""></td-message>
                      <app-practitioner [practitioners]="practitioners" [useBundle]="true" (practitioner)="onResoureSelected($event)"></app-practitioner>
                  </span>
                  <span *ngIf="organisations.length>0">
                      <td-message label="Organisation"  icon=""></td-message>
                      <app-organisation [organisations]="organisations" (organisation)="onResoureSelected($event)"></app-organisation>
                  </span>
                  <span *ngIf="observations.length>0">
                      <td-message label="Observations"  icon=""></td-message>
                      <app-observation [observations]="observations" (observation)="onResoureSelected($event)"></app-observation>
                  </span>
                  <span *ngIf="encounters.length>0">
                      <td-message label="Encounter"  icon=""></td-message>
                      <app-encounter [encounters]="encounters" [useBundle]="true" (encounter)="onResoureSelected($event)"></app-encounter>
                  </span>
                  <span *ngIf="medicationStatements.length>0">
                      <td-message label="Medication Statement"  icon=""></td-message>
                      <app-medication-statement [medicationStatements]="medicationStatements" (medicationStatement)="onResoureSelected($event)"></app-medication-statement>
                  </span>
                  <span *ngIf="medicationDispenses.length>0">
                      <td-message label="Medication Dispense"  icon=""></td-message>
                      <app-medication-dispense [medicationDispenses]="medicationDispenses" (medicationDispense)="onResoureSelected($event)"></app-medication-dispense>
                  </span>
                  <span *ngIf="procedures.length>0">
                      <td-message label="Procedure"  icon=""></td-message>
                      <app-procedure [procedures]="procedures" [useBundle]="true" (procedure)="onResoureSelected($event)"></app-procedure>
                  </span>
                  <span *ngIf="medications.length > 0">
                      <td-message label="Medications"  icon=""></td-message>
                      <app-medication [medications]="medications" (medication)="onResoureSelected($event)"></app-medication>
                  </span>
                  <span *ngIf="prescriptions.length>0">
                      <td-message label="Prescriptions"  icon=""></td-message>
                      <app-medication-request [medicationRequests]="prescriptions" (medicationRequest)="onResoureSelected($event)"></app-medication-request>
                  </span>
                    <span *ngIf="immunisations.length>0">
                      <td-message label="Immunisations"  icon=""></td-message>
                      <app-immunisation [immunisations]="immunisations" (immunisation)="onResoureSelected($event)"></app-immunisation>
                  </span>
                  <span *ngIf="roles.length>0">
                      <td-message label="PractitionerRole"  icon=""></td-message>
                      <app-practitioner-role [roles]="roles" (practitionerRole)="onResoureSelected($event)"></app-practitioner-role>
                  </span>
                  <span *ngIf="services.length>0">
                      <td-message label="HealthcareService"  icon=""></td-message>
                      <app-healthcare-service [services]="services" (healthcareService)="onResoureSelected($event)"></app-healthcare-service>
                  </span>
                  <span *ngIf="forms.length>0">
                      <td-message label="Questionnaire Response"  icon=""></td-message>
                      <app-questionnaire-response [forms]="forms" (form)="onResoureSelected($event)"></app-questionnaire-response>
                  </span>
                    <span *ngIf="goals.length>0">
                      <td-message label="Care Goals"  icon=""></td-message>
                      <app-goal [goals]="goals" (form)="onResoureSelected($event)"></app-goal>
                  </span>
                    <span *ngIf="risks.length>0">
                      <td-message label="Risk Assessment"  icon=""></td-message>
                      <app-risk-assessment [risks]="risks" (form)="onResoureSelected($event)"></app-risk-assessment>
                  </span>
                </div>
                <div *ngIf="section.entry == undefined">
                  No structured content referenced
                </div>
          </td-expansion-panel>
    </span>
      <td-expansion-panel label="HTML Content" (expanded)="true">

      <div [innerHTML]="section.text.div"></div>
      </td-expansion-panel>
  </mat-card-content>

</mat-card>

