<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'" [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '240px' : '100%'" >
  <td-navigation-drawer flex [sidenavTitle]="name" >
    <mat-nav-list [tdLayoutClose]="!media.query('gt-sm')">
      <span *ngFor="let item of btnRoutes">
        <a mat-list-item tdLayoutToggle (click)="menuClick(item.href)"><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </span>
      <span *ngFor="let item of routes">
         <a mat-list-item [routerLink]="item.route"><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </span>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon matListIcon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>



  <!-- Navigation Route / -->

  <td-layout-nav [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? name : ''"  navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="start center" flex>

    </div>
    <td-layout-manage-list #manageList
                           [opened]="media.registerQuery('gt-sm') | async"
                           [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                           [sidenavWidth]="!miniNav ? '257px' : '64px'">

      <!-- Medical Record SideNav -->

      <div td-sidenav-content layout="column" layout-fill>

        <mat-toolbar>
          <mat-icon class="push-left-xs"  matTooltipPosition="after">dashboard</mat-icon>
          <span *ngIf="!miniNav" class="push-left-sm">Medical Record</span>
        </mat-toolbar>
        <div td-sidenav-content>
          {{ eprService.userName}}
          <mat-nav-list>
            <span *ngIf="eprService.patient != undefined">

              <a mat-list-item (click)="selectSection('documents')" matTooltip="Docs"><mat-icon>note</mat-icon>
                <span *ngIf="!miniNav" class="push-left-sm">Documents</span></a>

            </span>

          </mat-nav-list>
        </div>
        <div class="td-layout-footer pad-sm" layout="row" layout-align="space-between center">
            <button type="button" mat-icon-button (click)="toggleMiniNav()">
              <span *ngIf="miniNav"><mat-icon >keyboard_arrow_right</mat-icon></span>
              <span *ngIf="!miniNav"><mat-icon >keyboard_arrow_left</mat-icon></span>
            </button>
            <span *ngIf="!miniNav" class="mat-caption">&copy; 2018 NHS Digital.</span>
          </div>
      </div>

      <mat-sidenav-container flex>
        <mat-sidenav #sidenav align="end">
          <div layout="column" layout-fill>
            <mat-toolbar>Settings</mat-toolbar>
            <div flex class="mat-content">

            </div>
          </div>

        </mat-sidenav>


        <!-- Patient ToolBar -->


        <td-layout-nav color="none">

              <div td-toolbar-content layout="row" layout-align="space-between center">
                <button mat-icon-button tdLayoutManageListToggle>
                  <mat-icon color="accent">menu</mat-icon>
                </button>

                <!--  Patient Banner -->

                <span *ngIf="eprService.patient != undefined">

                    <span> &nbsp;  <b>{{ getLastName(eprService.patient) }}</b> {{ getFirstName(eprService.patient) }}</span>
                    <span class="fill-remaining-space"></span>
                    <span>
                       &nbsp; <i>DOB: </i><b>{{eprService.patient.birthDate | date: 'dd-MMM-yyyy'}}</b>
                    </span>
                    <span class="fill-remaining-space"></span>
                    <span>
                       &nbsp;<i>Gender: </i><b>{{ eprService.patient.gender }}</b>
                    </span>
                    <span class="fill-remaining-space"></span>
                    <span>
                       &nbsp;<i>NHS No: </i><b>{{ getNHSIdentifier(eprService.patient) }}</b>
                    </span>
                </span>
                <span *ngIf="eprService.patient == undefined">
                  <i>No patient selected</i>
                </span>

            </div>


          <!-- Main Body -->

          <span *ngIf="eprService.patient!=undefined && href=='epr'">
            <app-edms-record [section]="section"></app-edms-record>
          </span>

          <span *ngIf="href=='loaddocument'">
            <app-load-document></app-load-document>
          </span>

          <span *ngIf="href=='patient'">
             <mat-card>
              <mat-card-title>Patient Find</mat-card-title>
              <mat-card-content>
                <app-patient-search (patientSelected)="selectPatient($event)"></app-patient-search>
              </mat-card-content>
            </mat-card>
          </span>

          <!-- End Main Body -->

        </td-layout-nav>
      </mat-sidenav-container>
    </td-layout-manage-list>
   <!-- <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Made with <mat-icon class="text-md">favorite</mat-icon> using <a href="http://getcovalent.com" class="text-nodecoration tc-teal-600">Covalent</a>, built on Angular v4 + Angular Material + NGX-Charts.</span>
      </div>
    </td-layout-footer> -->
  </td-layout-nav>
</td-layout>
